body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url('https://i3.wp.com/static.vecteezy.com/system/resources/previews/013/651/331/non_2x/graphic-design-illustration-of-a-stack-of-encyclopedia-books-background-with-blank-area-free-vector.jpg?ssl=1');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.registration-form h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#response {
    color: #666;
    margin-top: 20px;
}